html {
    font-family: sans-serif;
  }
  canvas {
    background: #f3f4f6;
    border: 1px dashed;
  }
  a {
    display: inline-block;
    background: #f3f4f6;
    color: #838485;
    padding: 5px 10px;
  }
  table { width: 100%; }